@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    /*  background-color: #85BA9F;*/
    background: radial-gradient( #B1F4CE, #85BA9F, #48946C);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
    background-image: url('./green\ circle.png');
    background-position: top;
}

.content {
    display: flex;
}

.launching-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding: 0 4em;
}

h2 {
    color: #216740;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.opening {
    font-weight: 300;
    font-size: 0.8em;
    color: #216740;
}

input[type='email'] {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 35%;
    box-shadow: 4px 4px 8px 2px rgba(184, 180, 180, 0.5);
}

input[type='submit'] {
    color: #fff;
    background-color: #48946C;
    font-size: 0.5em;
    padding: 10px;
    border-radius: 5px;
    margin-left: 2em;
    border: none;
    width: 15%;
    box-shadow: 4px 4px 8px 2px rgba(184, 180, 180, 0.5);
}

.login-section {
    text-align: center;
    width: 30%;
    height: 100%;
    background-color: rgba(177, 244, 206, 0.3);
    border-radius: 0 10px 10px 0;
}

.login-section nav {
    padding-top: 1em;
}

.dash-container {
    background-color: #fff;
    border-radius: 0 80% 80% 0;
    z-index: 1000;
    padding-right: 20px;
    margin-right: -10px;
    overflow-x: hidden;
}

.dash {
    background-color: #B1F4CE;
    width: 20px;
    height: 1px;
    margin-bottom: 3.2em;
    animation: moveup 2s infinite;
    position: relative;
}

@keyframes moveup {
    from {
        top: 0px;
    }
    to {
        top: 20px;
    }
}

.timer-div {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    column-gap: 20px;
    padding: 2em;
}

.timer-div div {
    background-color: white;
    border: 1px solid #fff;
    text-align: center;
    padding: 30px 10px;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 8px rgba(202, 201, 201, 0.3);
}

.timer-div div p:first-child {
    font-size: 1.5em;
    color: #216740;
}

.timer-div div p {
    font-size: 0.5em;
}

a {
    text-decoration: none;
    color: #48946C;
    font-size: 0.85em;
}

#signup-btn {
    color: #fff;
    background-color: #48946C;
    font-size: 0.5em;
    padding: 8px;
    border-radius: 5px;
    margin-left: 2em;
}